@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <h2 class="topdiv">
        successfully registered
    </h2>
    }
    }
