

@{ 
    if(ViewBag.UsersCount == 0)
    {
        Layout = "_Layout2";
    }
    else
    {
        Layout = "_Layout";
    }
}

<section id="hero" class="hero d-flex align-items-center ">

    <div class="">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Spectrum for software solutions</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Welcome to Project Tracker system</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->