<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2315a3d7-7cbf-40d1-a165-0911642cbe2f/resourceGroups/capstoneproject/providers/Microsoft.Web/sites/spectrumprojecttracker</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spectrumprojecttracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>e7bd1552-fddc-4ee1-a22e-bfa3aa8f581c</ProjectGuid>
    <PublishUrl>https://spectrumprojecttracker.scm.azurewebsites.net/</PublishUrl>
    <UserName>$spectrumprojecttracker</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>