@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/worksHistory.css" rel="stylesheet" />
<section class="timeline_area section_padding_130 mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center topdiv mb-4 ">
                    <h3>Works History</h3>

                    <div class="line"></div>
                </div>
            </div>
        </div>
      
            <div class="row">
                <div class="col-12">
                    <!-- Timeline Area-->
                    @foreach (var Whistory in ViewBag.WorkHistoryList)
                    {
                        <div class="apland-timeline-area">
                           

                            <div class="single-timeline-area">
                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <p>@Whistory.WorkDescription</p>
                                </div>
                                <div class="row">

                                    @foreach (var ds in Whistory.DateStatus)
                                    {
                                        foreach (var status in ViewBag.Statuses)
                                        {
                                            if (ds.StatusId == status.StatusId)
                                            {
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                                        <div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>
                                                        <div class="timeline-text">
                                                            <h6>@status.StatusName</h6>
                                                            <p>@ds.DateTime</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }


                                        }




                                    }

                                </div>

                                </div>



                        </div>
                    }
                    </div>
            </div>
      
        </div>
    
</section>